.section {
  padding-top: 36px;
}

.title {
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
}

.text {
  margin-top: 24px;

  text-align: justify;

  letter-spacing: var(--letter-sapcing);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
  }
  .section {
    padding-top: 100px;
  }

  .titleTextWrap {
    display: grid;
    grid-template-columns: 272px 353px;
    column-gap: 82px;
  }

  .text {
    margin-top: 0;
    padding-left: 11px;

    border: none;
    border-left: 1px solid var(--accent-color);
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 120px;
  }

  .title {
    font-size: 48px;
  }

  .titleTextWrap {
    grid-template-columns: 365px 620px;
    column-gap: 254px;
  }

  .text {
    padding-left: 161px;
  }
}
