.section {
  padding-top: 36px;
}

.title {
  margin-bottom: 16px;
  max-width: 205px;

  font-size: 28px;
  line-height: 1;

  text-transform: uppercase;
}

.questAnswlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.message {
  font-size: 18px;
  letter-spacing: var(--letter-spacing);

  text-align: center;
}

.scrollBtn {
  margin: 12px auto 0;
}

.scrollBtn:hover > .circle,
.scrollBtn:focus > .circle {
  background-color: var(--accent-color);

  transition: var(--transition-dur-and-func);
}

.scrollBtn:hover .icon,
.scrollBtn:focus .icon {
  fill: var(--primary-font-color);

  transition: var(--transition-dur-and-func);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  width: 14px;
  height: 14px;

  background-color: var(--primary-font-color);

  transition: var(--transition-dur-and-func);
}

.icon {
  fill: transparent;

  transform: rotate(90deg);

  transition: var(--transition-dur-and-func);
}

.contactUs {
  margin-top: 36px;
}

@media screen and (min-width: 768px) {
  .container {
    position: relative;

    display: flex;
    align-items: flex-end;
    gap: 24px;
  }

  .section {
    padding-top: 100px;
  }

  .title {
    position: absolute;
    top: 0;
    left: 396px;

    min-width: 347px;

    font-size: 36px;
  }

  .scrollBtn {
    margin: 0;
  }

  .questAnswlist {
    max-width: 342px;
  }

  .contactUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 120px;
  }

  .questAnswlist {
    max-width: 596px;
  }

  .container {
    gap: 185px;
  }

  .title {
    left: 800px;
    min-width: 395px;
    font-size: 48px;
  }

  .message {
    font-size: 24px;
  }
}
