.item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.question {
  text-align: justify;

  font-size: 18px;
  letter-spacing: var(--letter-spacing);
}

.answer {
  margin-left: 24px;

  text-align: justify;

  font-size: 14px;
  letter-spacing: var(--letter-spacing);
}

.plusIcon {
  width: 16px;
  height: 16px;
  color: var(--accent-color);
}
.minusIcon {
  width: 16px;
  height: 16px;
  color: var(--primary-font-color);
}

.btnQuestionWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .plusIcon {
    width: 28px;
    height: 28px;
  }

  .minusIcon {
    width: 28px;
    height: 28px;
  }

  .btnQuestionWrap {
    gap: 16px;
  }

  .answer {
    margin-left: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .question {
    font-size: 24px;
  }

  .answer {
    margin-left: 52px;

    font-size: 16px;
  }

  .btnQuestionWrap {
    gap: 24px;
  }
}
