.slider {
  margin: 19px auto 0;
}

.btn {
  width: 66px;
  height: 66px;

  background-color: transparent;

  border: 1px solid var(--primary-font-color);

  transition: var(--transition-dur-and-func);
}

.btn:hover,
.btn:focus {
  border-color: var(--accent-color);

  background-color: transparent;

  transition: var(--transition-dur-and-func);
}

.icon {
  fill: var(--primary-font-color);
}

.decrementIcon {
  transform: rotate(180deg);
}

.btn:hover > .icon,
.btn:focus > .icon {
  fill: var(--accent-color);
}

.btnWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.slideNumber {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: var(--letter-spacing);
}

.slidesAmount {
  color: rgba(23, 61, 51, 0.25);
}

.slideNumberAndBtnsWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;

  margin-top: 24px;
}

.title {
  font-size: 28px;
  line-height: 1;

  text-transform: uppercase;

  max-width: 264px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 1;
  }

  .slideNumber {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 65px;

    border: none;
    border-left: 1px solid var(--accent-color);
    padding-left: 9px;
    margin-left: 90px;
  }

  .btnWrap {
    margin-left: 126px;
  }

  .slideNumberAndBtnsWrap {
    margin-top: 0;
  }

  .imageSlider {
    display: flex;
  }

  .slider {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 48px;
    max-width: 398px;
  }

  .btnWrap {
    margin-left: 221px;
  }

  .slideNumber {
    height: 96px;
    padding-left: 161px;
  }

  .slider {
    margin-top: 120px;
  }

  .btn {
    width: 84px;
    height: 84px;
  }
}
