.footer {
  padding: 24px 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0;
  gap: 0;

  width: 32px;
  height: 32px;

  transition: var(--transition-dur-and-func);
}

.btn:hover > .arrowIcon,
.btn:focus > .arrowIcon {
  fill: var(--accent-color);

  transition: var(--transition-dur-and-func);
}

.arrowIcon {
  fill: var(--primary-font-color);
  transform: rotate(-90deg);
}

.socialIcon {
  fill: var(--primary-font-color);
}

.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialLink:hover > .socialIcon,
.socialLink:focus > .socialIcon {
  fill: var(--accent-color);
}

.socialsList {
  display: flex;
  gap: 8px;
}

.contctInfoWrapper {
  gap: 16px;
}

.copyright {
  letter-spacing: var(--letter-spacing);
  text-align: center;

  margin-top: 16px;
}
