.slide {
  width: 320px;
  min-height: 318px;
  padding: 0px 12px 12px;
  margin: 0 auto;

  background-color: var(--secondary-bg-color);
}

.icon {
  transform: rotate(-45deg);
  fill: var(--primary-font-color);
}

.img {
  width: calc(100% + 24px);
  margin-left: -12px;
}

.contentWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 24px;
}

.info {
  max-width: 175px;

  font-size: 18px;
  letter-spacing: var(--letter-spacing);
}

.btn {
  width: 60px;
  height: 60px;

  transition: var(--transition-dur-and-func);
}

.btn:hover > .icon,
.btn:focus > .icon {
  fill: var(--accent-color);

  transition: var(--transition-dur-and-func);
}

.line {
  margin-top: 21px;
}

.descDataWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 12px;
  font-size: 12px;
  letter-spacing: var(--letter-spacing);
}

@media screen and (min-width: 768px) {
  .slide {
    width: 342px;
    min-height: 330px;
    padding: 0px 12px 12px;
    margin: 0 auto;

    background-color: var(--secondary-bg-color);
  }

  .info {
    max-width: 194px;

    font-size: 20px;
  }

  .descDataWrap {
    font-size: 14px;
  }
}
